
/* Navbar */
li {
  list-style: none;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.link a{
  text-decoration: none;
  padding: 1rem;
  font-size: 1.5rem;
  color: black;
}

/*  */
.darkmode-btn {
  background-color: rgb(255, 204, 0);
  color: black;
  font-size: 1rem;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  margin: 0rem 1rem;
  cursor: pointer;
}

.recipe{
  text-align: center;
}